<p>Olá {{ deliveryman }},</p>
<p>A entrega " {{ product }} " para {{ recipient }} foi cancelada.</p>
<p><strong>Motivo: </strong>{{ motivo }}</p>

<small>
  Você nao precisa mais retirar a encomenda. <br />
  Duvidas ligue para <strong>0800 989 9999</strong> <br />
</small>